@mixin flexAlign($hor: center, $vert: center, $pos: row) {
    display: flex;
    align-items: $vert;
    justify-content: $hor;
    flex-direction: $pos;
}

@mixin widthHeight($width: 100%, $height: 100vh) {
    width: $width;
    height: $height;
}