@import "./assist.scss";
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: green;
    @include flexAlign($hor: flex-start);
}

.logo {
    height: 50px;
    @include flexAlign();
    margin-left: 5px;
    border: 2px solid black;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(-6deg, #fff, #000);
    &_image {
        width: 50px;
        margin-left: 5px;
    }
    &_text {
        font-size: 24px;
        font-weight: bold;
        color: white;
    }
}

.desc {
    font-size: 20px;
    color: white;
    margin: 0 10px;
}

.menu {
    @include flexAlign($hor: space-around);
    a {
        text-decoration: none;
        color: aqua;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        border: 3px solid black;
        border-radius: 5px;
        padding: 10px;
        margin: 0 5px;
        box-sizing: border-box;
        &:hover {
            background-color: red;
        }
    }
}

.our_cotnacts {
    display: flex;
    flex-direction: column;
    div {
        @include flexAlign();
        margin: 5px 5px;
        font-size: 22px;
        img {
            height: 20px;
        }
    }
}

.back_call {
    margin-left: 10px;
    font-size: 30px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    &:hover {
        box-shadow: 2px 2px 8px black;
        background-color: greenyellow;
        color: red;
    }
}

.home {
    height: 500px;
    background-color: grey;
}

.price {
    height: 500px;
    background-color: blue;
}

.our_work {
    height: 500px;
    background-color: aqua;
}

.footer {
    height: 500px;
    background-color: wheat;
}